<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MINI MESSAGER BOARD</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <main>
            <a href="/new">
                <button>Add New Message</button>
            </a>
            <section class="messages">
                <%messages.forEach((message, i)=>{%>
                <div class="message">
                    <h3><%= message.user %></h3>
                    <p><%= message.text %></p>
                    <div class="bottom">
                        <p><%= message.added %></p>
                        <a href="/<%=i+1%>">Open</a>
                    </div>
                </div>

                <% }) %>
            </section>
        </main>
    </body>
</html>
