<form action="POST">
    <div class="user-container">
        <label for="user">User</label>
        <input type="text" name="user" , id="user" required />
    </div>
    <div class="text-container">
        <label for="text">Message</label>
        <textarea name="text" id="text" cols="50" rows="8" required></textarea>
    </div>
    <button type="submit">Submit Message</button>
</form>
